* {
	margin: 0;
	padding: 0;
	font-family: fot-tsukuardgothic-std, sans-serif;
	color: #4d4d4d;
	text-decoration: none;
}
.fl {
	display: flex;
	justify-content: space-evenly;
}
.sp {
	display: none;
}
